<!doctype html>
<html lang="en">
<head>
    <title>Rustmx</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.2">

    <script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
</head>
<body hx-boost="true">
<main>
    <header>
        <header>
          <h1>Rustmx</h1>
        </header>
        {% block content %} {% endblock %}
    </header>
</main>
</body>
</html>
